<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidworkshop">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidWorkshop">
        <activity
            android:name=".Zavrsi_Aktivnost"
            android:exported="true" />
        <activity
            android:name=".Moi_Aktivnosti"
            android:exported="true" />
        <activity
            android:name=".Aktivni_Aktivnosti"
            android:exported="true" />
        <activity
            android:name=".NajavenVolonter"
            android:exported="true" />
        <activity
            android:name=".UrediAktivnost"
            android:exported="true" />
        <activity
            android:name=".Aktivnosti"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAK5iHoHoBBAqmL6rOhXnziTOLwg6hYruE" />

        <activity
            android:name=".DodadiAktivnost"
            android:exported="true" />
        <activity
            android:name=".NajavenProfil"
            android:exported="true" />
        <activity
            android:name=".RegisterUser"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>